.top-engine, .middle-engine{
    position: relative;
}
.top-engine .h{
    position: absolute;
    color: white;
    top: calc(5vw);
    left: calc(10vw);
}
.top-engine .h h1{
    font-size: 3em;
    text-align: center;
}

.top-engine .h span{
    display: block;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    line-height: 1.5em;
}

.top-engine .h form input[type='text']{
    border: 1px solid white;
    border-radius: 10px;
    height: 30px;
    background-color: transparent;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
    text-align: center;
    width: 270px;
}

.top-engine .h form input[type='submit']{
    width: 240px;
    height: 35px;
    background-color: #4c9432;
    border: none;
    color: white;
    display: block;
    margin: auto;
}

.top-engine img, .middle-engine img{
    width: 100%;
    filter: brightness(50%);
}
#triangle {
    border: 200px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: solid rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    right: 0;
    border-right-width: calc(100vw);
    height: calc(20vh);
}
.text-block{
    position: absolute;
    bottom: calc(10vw);
    right: calc(10vw);
    font-size: 35px;
    text-align: right;
    font-weight: bold;
}
.engine{
    position: relative;
    padding-top: 20vh;
    margin: auto;
    width: 50%;
    padding-bottom: calc(10vw);
}

#triangle-top{
    border: 200px solid transparent;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: solid rgb(255, 255, 255);
    position: absolute;
    border-left-width: calc(98.75vw);
    z-index: 999;
    height: calc(5vh);
}

#triangle-bottom{
    border: 200px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: solid rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    right: 0;
    border-right-width: calc(100vw);
    height: calc(20vh);
}

.middle-engine .text{
    position: absolute;
    top: 40%;
    color: white;
    margin-left: calc(10vw);
    line-height: 1.4em;
    font-size: 20px;
}
.middle-engine form input[type='submit']{
    width: 240px;
    height: 35px;
    background-color: #d11f22;
    border: none;
    color: white;
    display: block;
    position: absolute;
    z-index: 9999;
    bottom: 40%;
    left: 15%;
}
