/* menu */
    .left-panel{
        width: 110px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 55;
        background: #ffffff;
        min-height: 600px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .logo{
        display: block;
        height: 70px;
        background: url(../image/logo.png) no-repeat 50% 50%;
        background-size: auto 70px;
        text-indent: -9999px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
    }

    ul.list{
        list-style: none;
        margin-top: 130px;
    }

    ul.list li a{
        display: block;
        text-decoration: none;
        text-align: center;
        padding-bottom: 15px;
        font-size: 14px;
        color: black;
        font-family: 'GothamPro Light', sans-serif;
        background-position: 50% 10px;
        background-repeat: no-repeat;
    }
    ul.list li.item-1 a{
        padding-top: 35px;
        background-image: url(../image/engine/carcase-small.png);
    }
    ul.list li.item-2 a{
        padding-top: 55px;
        background-image: url(../image/engine/place-small.png);
    }
    ul.list li.item-3 a{
        padding-top: 35px;
        background-image: url(../image/engine/glass-small.png);
    }
    ul.list li.item-4 a{
        padding-top: 45px;
        background-image: url(../image/engine/wheel-small.png);
    }
    ul.list li.item-5 a{
        padding-top: 45px;
        background-image: url(../image/engine/engine-small.png);
    }
/* menu */
/* main page */
    #slide1{
        height: 100%;
        background-size: contain;
        background-image: url(../image/engine/main.jpg);
        background-repeat: no-repeat;
    }
    #slide1 img{
        width: 100%;
    }
@media all and (max-width:480px){
    #slide1{ background-size: contain;}
    .left-panel{ zoom: 0.7; }
}
@media all and (max-width:1280px) and (min-width: 900px){
    .container,.col-lg-11{
        width: 100%!important;
        margin-left: 0px!important;
    }
}
@media all and (max-width:1367px) and (min-width: 1281px){
    #slide1{
        background-size: cover;
    }
    .container{
        padding-left: 0px!important;
    }
    .container,.col-lg-11{
        width: 100%!important;
    }
}
@media all and (min-width:1368px){
    .container,.col-lg-11{
        width: 100%!important;
    }
    #slide1{
        background-size: contain;
    }
}
/* end page main */
/* general style */
    .container,.col-lg-11{
        margin-right: 0px!important;
        margin-left: 0px;
        padding-right: 0px!important;
        overflow: hidden;
    }
    footer{
        height: 150px;
        background-color: black;
        color: white;
        margin-top: 50px;
        text-align: center;
    }
    .my-flex{
    	display: flex;
    	flex-direction: row;
    	justify-content: space-around;
    }
    .my-flex figure{
    	width:25%;
    	margin: auto;
    }
    .my-flex figure div{
    	width: 60px;
    	margin: auto;
    }
    .my-flex img{
    	width:60px;

    }
    .my-flex span{
    	text-align: center;
    }
/* end general style */
/* page engine */
    .top{
        position: relative;
    }
    .top img{
        width: 100%;
    }
    .top .h{
        position: absolute;
        color: white;
    }
    .top .h h1{
        text-align: center;
    }
    .top .h span{
        display: block;
        padding-top: 10px;
        text-transform: uppercase;
        text-align: center;
    }
    .engine{
        position: relative;
        margin: auto;
        width: 85%;
        float: none;
        padding-bottom: calc(10vw);
        padding-top: 40px;
    }
    .engine img{
        width: 60%;
        margin: auto;
        display: block;
    }
    .middle-form{
        z-index: 9999999;
        position: relative;
        margin: auto !important;
    }
    .call-green {
        background-color: #4c9432 !important;
        border: none;
        color: white !important;
        display: block;
        margin: auto;
        border: 1px solid green !important;
    }
    .middle-engine form.block{
            position: absolute;
    }
    .middle-engine form button[type='submit']{
        background-color: #d11f22;
        border: none;
        color: white;
        display: block;
        z-index: 9999;
    }
    .middle-engine .text{
        position: absolute;
        color: white;
        display: block;
    }
    .icon{margin-top: 70px;
    }
    .price span{
        text-align: center;
        display: block;
        margin-top: 50px;
        font-size: 28px;
        margin-bottom: 50px;
    }
    .price-block span{
        text-align: center;
        display: block;
        margin-top: 22px;
        font-size: 18px;
        color: white;
    }
    .btn-price-block span{
        text-align: center;
        display: block;
        margin-top: 22px;
        font-size: 18px;
        color: white;
    }
    .price-block{
        width: 60%;
        margin: auto;
        background-color: black;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
     }
     .btn-price-block{
        width: 50%;
        margin: auto;
     }
     .text-block{
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
    }
    .icon span{
        display: block;
    }
    .top .h form{
        margin: auto;
        width: 100%;
        display: flex;
    }
    .top .h form input[type='text']{
        border: 1px solid white;
        border-radius: 10px;
        height: 30px;
        background-color: transparent;
        display: block;
        margin-top: 5px;
        color: white;
        text-align: center;
        width: 100%;
    }

    .top .h form button[type='submit']{
        width: 100%;
        height: 35px;
        background-color: #4c9432;
        border: none;
        color: white;
        display: block;
        margin-top:10px!important;
        margin-left:10%!important;
        margin: auto;
    }
@keyframes translating {
    0%   { transform: translate(200px, 0); }
    100% { transform: translate(0, 0); }
}
    .text-block { animation: translating 2s linear; }


@media all and (min-width: 800px) and (max-width: 800px){
    .text-block{
        right: 8%!important;
        top: 17%!important;
        font-size: 1em!important;
    }
    .btn-price-block span {
        padding-left: 18px;
        width: 100px;
    }
    .top .h {
        top: 0%!important;
        left: 5%!important;
    }
}
@media all and (max-width:480px){
    .top .h {
        top: 0;
        left: 15%;
    }
    .top .h h1{
        font-size: 0.8em;
        margin-bottom: 0px!important;
    }
    .top .h span{
        font-size: 0.3em;
    }
    .middle-form {
        width: 150px;
    }
    .call-green {
        width: 80px;
        font-size: 10px!important;
    }
    .middle-engine form.block{
        left: 35%;
        bottom: 5%;
    }
    .call-red {
        width: 60px;
        font-size: 8px!important;
    }
    .middle-engine .text {
        bottom: 40%;
        left: 15%;
        font-size: 7px;
    }
    .icon .my-flex{
        display: block;
    }
    .icon .my-flex figure {
        width: 100%;
        margin-left: 10%;
    }
    .price{
        margin-top: 50px;
    }
    .price span{
        width: 20px;
        margin: auto;
    }

    .price-block{
        height: 150px;
        width: 100%;
        margin-left: 8%;
        margin-right: 0px!important;
        padding-right: 0px!important;
    }
    .text-block{
        right: 7%;
        top: 11%;
        font-size: 0.6em;
    }
    .btn-price-block{
        float: none;
        width: 84px;
    }
    .top .h form input[type='text']{
        border-radius: 10px;
        height: 20px;
        padding: 2px 0px 2px 0px;
        width: 100px;
    }
    .top .h form button[type='submit']{
        width: 60px;
        height: 20px;
        font-size: 8px;
    }
}
@media all and (max-width:1280px) and (min-width: 500px){
    .top .h{
        top: 5%;
        left: 15%;
    }
    .top .h h1{
        font-size: 1.4em;
    }
    .middle-form {
        width: 150px;
    }
    .call-green {
        width: 120px;
    }
    .middle-engine form.block{
        left: 20%;
        bottom: 25%;
    }
    .call-red {
        width: 150px;
    }
    .middle-engine .text {
        bottom: 30%;
        left: 15%;
        font-size: 16px;
    }
    .icon ul{
        margin-left: 15%;
    }
    .text-block{
        right: 8%;
        top: 20%;
        font-size: 1.4em;
    }
    .my-flex{
        margin-left: 10%!important;
    }

}
@media all and (max-device-width:1366px) and (min-device-width: 500px) and (orientation: landscape){
    .middle-engine form.block{
        left: 20%;
        bottom: 12%;
    }
    .text-block{
        right: 8%;
        top: 20%;
        font-size: 1.2em;
    }
    .top .h h1{
        font-size: 1.2em;
    }
    .top .h span{
        font-size: 1em;
        width:200px;
    }

    .top .h form input[type='text']{
        border-radius: 10px;
        height: 20px;
        padding: 2px 0px 2px 0px;
        width: 200px;
    }
    .top .h form button[type='submit']{
        width: 150px;
        height: 20px;
        font-size: 8px;
    }
}
@media all and (max-width:1367px) and (min-width: 1281px){
    .top .h{
        top: 5%;
        left: 15%;
    }
    .top .h h1{
        font-size: 2em;
    }
    .middle-form {
        width: 200px;
    }
    .call-green {
        width: 200px;
    }
    .middle-engine form.block{
        left: 20%;
        bottom: 25%;
    }
    .call-red {
        width: 200px;
    }
    .middle-engine .text {
        bottom: 35%;
        left: 19%;
        font-size: 20px;
    }
    .text-block{
        right: 7%!important;
        top: 21%!important;
        font-size: 1.6em!important;
    }
}
@media all and (min-width:1368px){
    .top .h{
        top: 10%;
        left: 15%;
    }
    .top .h h1{
        font-size: 2em;
    }
    .middle-form {
        width: 200px;
    }
    .call-green {
        width: 200px;
    }
    .middle-engine form.block{
        left: 20%;
        bottom: 25%;
    }
    .call-red {
        width: 200px;
    }
    .middle-engine .text {
        bottom: 35%;
        left: 19%;
        font-size: 20px;
    }
    .text-block{
        right: 5%;
        top: 22%;
        font-size: 2em;
    }
}
/* end page engine */
/* page protection */
    .protection{
        position: relative;
        margin: auto;
        width: 85%;
        float: none;
        padding-bottom: calc(10vw);
        padding-top: 40px;
    }
    .protection img{
        width: 60%;
        margin: auto;
        display: block;
    }
    .car{
        width: 25% !important;
        position: absolute;
        top: 115px;
        z-index: -2;
    }
    @keyframes moveCar {
        0%   { transform: translate(-50px, 0); }
        100% { transform: translate(0px, 0); }
    }
       /* .car { animation: moveCar 2s forwards;}       */
    @keyframes Point {
        0%   { opacity: 0; }
        50%   { opacity: 0.5; }
        75%   { opacity: 0.75 }
        100% { opacity: 1; }
    }
     /*   .point { animation: Point 7s ease;}*/

@media all and (max-width:1280px) and (min-width: 500px){
    @keyframes moveCar {
        0%   { transform: translate(-50px, 0); }
        100% { transform: translate(450px, 0); }
    }
}
@media all and (max-width:1367px) and (min-width: 1281px){
    @keyframes moveCar {
        0%   { transform: translate(-50px, 0); }
        100% { transform: translate(485px, 0); }
    }
}
@media all and (min-width:1368px){
    .car{
        width: 30% !important;
        position: absolute;
        top: 110px;
        z-index: -2;
    }
    @keyframes moveCar {
        0%   { transform: translate(-50px, 0); }
        100% { transform: translate(110%, 0); }
    }
}
/* end page protection */
/* page salon repair */
    .repair{
        position: relative;
        margin: auto;
        width: 85%;
        float: none;
        padding-bottom: calc(10vw);
        padding-top: 40px;
    }
    .salon-repair{
        position: relative;
        width: 50%;
        left: 23%;
        top: 40%;
    }
    .salon-repair-points{
        position: absolute;
        left: 28%;
        width: 45%;
        top: 10%;
        z-index: 2;
    }
    .repair-text-block{
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
    }
    .flex-stuff{
    	display: flex;
    	flex-direction: row;
    	justify-content: center;
    }
    .flex-stuff figure{

    }
    .flex-stuff figure div{
    	width: 100px;
    	margin: auto;
    }
    .flex-stuff img{
    	width:100px;
    }
    .flex-stuff span{
    	text-align: center;
        padding-top:10px;
    }



@media all and (max-device-width:1366px) and (min-device-width: 500px) and (orientation: landscape){
    .repair-text-block{
        right: 8%;
        top: 17%;
        font-size: 1.2em;
    }
}
@media all and (max-width:1280px) and (min-width: 500px){
    .repair-text-block{
        right: 5%;
        top: 21%;
        font-size: 1.4em;
    }
}
@media all and (max-width:1367px) and (min-width: 1281px){
    .repair-text-block{
        right: 5%;
        top: 24%;
        font-size: 1.6em;
    }
}
@media all and (max-width: 800px){
    .repair-text-block{
        right: 5%;
        top: 20%;
        font-size: 1em;
    }
}
@media all and (max-width:480px){
    .repair-text-block{
        right: 6%;
        top: 8%;
        font-size: 0.6em;
    }
    .flex-stuff {
        display: block;
        margin-bottom: 30px;
    }
    .flex-stuff figure {
        width: 100%;
    }
    .flex-stuff figure div{
        width:50px;
    }

    .flex-stuff img{
        width: 50px;
    }

}
@media all and (min-width:1368px){
    .repair-text-block{
        right: 6%;
        top: 25%;
        font-size: 1.8em;
    }
}
    @keyframes translating-repair-text {
        0%   { transform: translate(200px, 0); }
        100% { transform: translate(0, 0); }
    }
    .repair-text-block { animation: translating-repair-text 2s linear; }
/* end gage salon repair */

       /*
.middle-engine form{
    position: absolute;
}
.container{
    width: calc(100%)!important;
    overflow: hidden;
    padding: 0px 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
}       */
  /*








.top .h form{
        margin-top: 10px;
}


@media all and (max-width: 1368px){

    .middle-engine form button[type='submit']{
        width: 240px;
        height: 35px;
    }

    .middle-engine .text{
        top: 35%;
        margin-left: calc(10vw);
        line-height: 1.4em;
        font-size: 20px;
    }
    .middle-form{
        width: 200px;
    }
    .call-green{
        width: 240px;
        height: 35px;
    }
    .icon ul li {
        margin-right: 20%;
    }
    .price-block{
        height: 150px;
        margin-top: 50px!important;
        margin-bottom: 50px!important;
    }
    .price-block span{
        display: block;
        width: 50%;
        margin: auto;
        padding-top: 35px;
        font-size: 26px;
        color: white;
    }

}
@media all and (min-width:320px) and (max-width: 480px){
    .text-block{
        bottom: 15%;
        right: 10%;
        font-size: 16px;
    }




    .engine{
        zoom: 0.3;
        width: 90%;
    }

    .middle-engine form button[type='submit'] {
        width: 76px;
        height: 20px;
        font-size: 8px;
    }
    .middle-engine form{
        position: absolute;
        top: 70%;
        left: 10%;
    }
    .middle-engine .text{
        top: 50%;
        font-size: 8px;
        width: 260px;
    }
    .middle-form{
        width: 150px;
    }
    .call-green{
        width: 60px;
        height: 20px;
        font-size: 8px!important;
    }

     .price-block{
        height: 50px;
    }
    .btn-middle{

    }

}














*/