html, body {height:100%;}
/* menu */

    .left-panel{
        width: 110px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 55;
        background: #ffffff;
        min-height: 600px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .logo{
        display: block;
        height: 70px;
        background: url(../image/logo.png) no-repeat 50% 50%;
        background-size: auto 70px;
        text-indent: -9999px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
    }
    .logo:hover{
        opacity:0.85;
    }

    ul.list{
        list-style: none;
        margin-top: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.list li a{
        text-decoration: none;
        text-align: center;
        padding-bottom: 15px;
        font-size: 14px;
        color: black;
        font-family: 'GothamPro Light', sans-serif;
        display: block;
    }
    ul.list li.item-1{
        padding-top: 35px;
        background-image: url(../image/menu/carcase.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 65%;
    }
    ul.list li.item-2{
        padding-top: 55px;
        background-image: url(../image/menu/place.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    ul.list li.item-3{
        padding-top: 35px;
        background-image: url(../image/menu/glass.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    ul.list li.item-4{
        padding-top: 45px;
        background-image: url(../image/menu/wheel.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    ul.list li.item-5{
        padding-top: 64px;
        background-image: url(../image/menu/engine.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    ul.list-main li.call{
        padding-top: 50px;
        background-image: url(../image/menu/call.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width:50px;
        border-radius: 35px;
}
    ul.list-main li.call:hover{
            -moz-box-shadow: 0 0 20px #c22929;
            -webkit-box-shadow: 0 0 20px #c22929;
            box-shadow: 0 0 20px #c22929;
            border-radius: 35px;
    }
    ul.list li a{
        /*width: 60%;*/
    }
    .example{
        margin: auto;
        font-size: 1.6em;
        padding-top: 35px;
        text-align: center;
        font-weight: bold;
        opacity: 0;
    }
/* menu */
/* main page */
    .display1{
        background-size: contain;
        background-image: url(../image/main.jpg);
        background-repeat: no-repeat;
        height: 100%;
    }
    .display1 img{
        width: 100%;
    }
    .display2{
        background-image: url(../image/main/slide2.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 800px!important;
    }
    .display2-z-engine{
        background-image: url(../image/main/hover-engine.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
    }
    .display2-z-salon{
        background-image: url(../image/main/hover-salon.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
    }
    .display2-z-carcase{
        background-image: url(../image/main/hover-carcase.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
    }
    .display2-z-wheel{
        background-image: url(../image/main/hover-wheel.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
    }
    .display2-z-glass{
        background-image: url(../image/main/hover-glass.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
    }
    .close-img{
        position: absolute;
        opacity: 0;
        top: 2%;
        width: 50px;
        right: 12%;
    }
    .engineBlock{
        width: 45px;
        height: 45px;
    }

    .display2 div.engineBlock img{
        position: absolute;
        display: block;
        width: 45px;
        margin-left: 68%;
        padding-top: 26%;
    }
    .display2 div.wheelBlock img{
        position: relative;
        width: 45px;
        margin-left: 43%;
        margin-top: 35%;
    }
    .display2 div.glassBlock img{
        position: relative;
        width: 45px;
        margin-left: 51%;
        margin-top: -20%;
    }
    .display2 div.carcaseBlock img{
        position: relative;
        width: 45px;
        margin-left: 44%;
        margin-top: -16%;
    }
    .display2 div.placeBlock img{
        position: relative;
        width: 45px;
        margin-left: 32%;
        margin-top: -8%;
    }
    .page-krytex{
        width: 100%;
        height:100%
    }
    .red-button{
        background-color: #d11f22;
        max-width: 125px;
        position: absolute;
        right: 15px;
        top: 45%;
        height: 150px;
        width: 100%;
        max-height: 130px;
        display: table;
    }
    .red-button span{
        display: table-cell;
        text-align: center;
        font-weight: bold;
        color: white;
        vertical-align: middle;
        font-size: 26px;
    }

    .logo-krytex{
        position: absolute;
        width: 50%;
        left: 25%;
        top: 45%;
    }
    .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{
        opacity:0;
        display: block;
        position: absolute;
        top: 6%;
        left: 50%;
        color: white;
    }
    .wheelBottom,.engineBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 7%;
        position: relative;
        opacity: 0;
    }
    .wheelBottom figure img, .engineBottom figure img{
        display: block;
        margin: auto;
        width: 50%;
    }
    .wheelBottom figure span, .engineBottom figure span{
        display: inline-block;
        position: absolute;
        top: 14px;
        color: white;
        left: 47%;
    }

    @media all and (max-width:480px){
            .display2{ background-size: contain;}
            .display2 div.engineBlock img{
                width: 20px;
            }
            .display2 div.wheelBlock img{
                width: 20px;
            }
            .display2 div.glassBlock img{
                width: 20px;
            }
            .display2 div.carcaseBlock img{
                width: 20px;
            }
            .display2 div.placeBlock img{
                width: 20px;
            }
            .display1{
                height: 24vh!important;
            }
            .red-button{
                max-height: 38px;
                width: 40px;
                top: 44%;
            }
            .red-button span{
                font-size: 14px;
            }
            .display2 div.wheelBlock img {
                margin-top: 18%;
            }
            .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{
                top: 2.5%;
                font-size: 1.2em;
            }
            .close-img img{ width: 20px;    }

    }
    @media all and (max-width:1280px) and (min-width: 500px){
        .display2{ background-size: 100%;}
        .red-button { max-height: 90px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 3em; }
    }
    @media all and (min-width: 800px) and (max-width: 800px){
        .display2{ background-size: 100%;}
        .display2 div.engineBlock img,
        .display2 div.wheelBlock img,
        .display2 div.glassBlock img,
        .display2 div.carcaseBlock img,
        .display2 div.placeBlock img{ width: 30px;}
        .red-button{ max-height: 56px; width: 80px; }
        .red-button span { font-size: 18px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 1.8em; }
        .display2 div.wheelBlock img{ margin-top: 32%; }
    }
    @media all and (max-width:1025px) and (min-width: 1023px){
        .display2{ background-size: 100%;}
        .red-button { max-height: 75px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 3em; }
    }
    @media all and (max-width:1367px) and (min-width: 1281px){
        .display2{ background-size: 100%;}
        .red-button { max-height: 100px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 4em; }
    }
    @media all and (min-width:1368px){
        .display2{ background-size: 100%;}
        .red-button { width: 120px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 4em; }
    }
    @media all and (max-width:1441px) and (min-width: 1439px){
        .display2{ background-size: 100%;}
    }










@media all and (max-width:480px){
    .display1{ background-size: contain;}
    .left-panel{ zoom: 0.7; }
}
@media all and (max-width:1280px) and (min-width: 900px){
    .container,.col-lg-11{
        width: 100%!important;
        margin-left: 0px!important;
    }
}
@media all and (max-width:1367px) and (min-width: 1281px){
    .display1{        background-size: contain;}
    .container{
        padding-left: 0px!important;
    }
    .container,.col-lg-11{
        width: 100%!important;
    }
}
@media all and (min-width:1368px){
    .container,.col-lg-11{
        width: 100%!important;
    }
    .display1{background-size: contain;}
}
/* end page main */
/* general style */
    .breadcrumbs{
        position: absolute;
        top:30px;
        color: white;
    }

    .container,.col-lg-11{
        margin-right: 0px!important;
        margin-left: 0px;
        padding-right: 0px!important;
        overflow: hidden;
    }
    .top img{
        width: 100%;
    }
    footer{
        height: 150px;
        background-color: #1e1e1e;
        color: white;
        text-align: center;
    }
    footer div.txt{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 12px;
    }
    .my-flex{
    	display: flex;
    	flex-direction: row;
    	justify-content: space-around;
    }
    .my-flex figure{
    	width:25%;
    	margin: auto;
    }
    .my-flex figure div{
    	width: 60px;
    	margin: auto;
    }
    .my-flex img{
    	width:60px;
    }
    .my-flex span{
    	text-align: center;
    }
    .slider {
        width: 100%;
        margin: 40px auto 10px auto;
    }
    .slider div.w{
        flex-direction: row;
        justify-content: space-around;
        display: flex;
        width:100%!important;
    }
    .slick-slide {
        margin: 0px 20px;
    }
    .slick-prev:before,.slick-next:before {
        color: black;
    }
    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: 1;
    }
    .slick-active {
        opacity: 1;
    }
    .slick-current {
        opacity: 1;
    }
    .slick-slide img.qq{
        width: 90%;
        height: 150px;
    }
    .elem{
        height: 140px;
        width: 70%;
        margin-right: 5px;
        margin-top: 0px;
    }
    .slick-prev  {
        left: 50%!important;
        top: 0!important;
        width: auto!important;
        z-index: 1;
    }
    .slick-next  {
        top: 100%!important;
        right: 49%!important;
        width: auto!important;
        z-index: 1;
    }
    .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12{
        height: 100%;
        background-size: cover!important;
        background-repeat: no-repeat!important;
    }
    .item1{ background: url("../image/slider/slider4.jpg");}
    .item2{ background: url("../image/slider/slider3.jpg");}
    .item3{ background: url("../image/slider/slider2.jpg");}
    .item4{ background: url("../image/slider/slider1.jpg");}
    .item5{ background: url("../image/slider/slider8.jpg");}
    .item6{ background: url("../image/slider/slider7.jpg");}
    .item7{ background: url("../image/slider/slider6.jpg");}
    .item8{ background: url("../image/slider/slider5.jpg");}
    .item9{ background: url("../image/slider/slider12.jpg");}
    .item10{ background: url("../image/slider/slider11.jpg");}
    .item11{ background: url("../image/slider/slider10.jpg");}
    .item12{ background: url("../image/slider/slider9.jpg");}

    .item12, .item22, .item32, .item42, .item52, .item62, .item72, .item82, .item92, .item102, .item112, .item122{
        height: 100%;
        background-size: cover!important;
        background-repeat: no-repeat!important;
    }
    .item12{ background: url("../image/slider2/5.jpg");}
    .item22{ background: url("../image/slider2/6.jpg");}
    .item32{ background: url("../image/slider2/7.jpg");}
    .item42{ background: url("../image/slider2/8.jpg");}
    .item52{ background: url("../image/slider2/1.jpg");}
    .item62{ background: url("../image/slider2/2.jpg");}
    .item72{ background: url("../image/slider2/3.jpg");}
    .item82{ background: url("../image/slider2/4.jpg");}
    .item92{ background: url("../image/slider2/1.jpg");}
    .item102{ background: url("../image/slider2/2.jpg");}
    .item112{ background: url("../image/slider2/3.jpg");}
    .item122{ background: url("../image/slider2/4.jpg");}
                             .my-flex2{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                        }
                        .my-flex2 .price-block{
                            /*width: 60%;*/
                        }
                        .my-flex2 .price-block:nth-child(2){
                             background-color: #1e1e1e;
                        }
                        .my-flex2 .price-block:nth-child(3){
                            background: #3c3c3c;
                        }
                        .my-flex2 .price-block:nth-child(4){
                            background-color: #5a5a5a;
                        }

/* end general style */
/* page engine */
    .top{
        position: relative;
    }
    .top .h{
        position: absolute;
        color: white;
    }
    .top .h h1{
        text-align: center;
    }
    .top .h span{
        display: block;
        padding-top: 10px;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
    }
    #engine{
        width: 53%;
        position: absolute;
        margin: auto;
        left: -6%;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        opacity: 0;
    }
    #engine-points{
        width: 75%;
        position: absolute;
        margin: auto;
        left: 2%;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    .block-engine{
        position: relative;
        margin-bottom: 25%;
    margin-top: 22%;
    }

    .engine img{
        width: 60%;
        margin: auto;
        display: block;
    }
    .middle-form{
        z-index: 9999999;
        position: relative;
        margin: auto !important;
    }
    .call-green {
        background-color: #4c9432 !important;
        border: none;
        color: white !important;
        display: block;
        margin: auto;
        border: 1px solid green !important;
        border-radius: 0px !important;
    }
    .middle-engine form.block{
            position: absolute;
    }
    .middle-engine form button[type='submit']{
        background-color: #d11f22;
        border: none;
        color: white;
        display: block;
        z-index: 9999;
        border-radius: 0px !important;
    }
    .middle-engine .text{
        position: absolute;
        color: white;
        display: block;
    }
    .icon{margin-top: 70px;
    }
    .price-main span, .trust span{
        text-align: center;
        display: block;
        margin-top: 50px;
        font-size: 28px;
        margin-bottom: 50px;
        font-weight: bold;
        opacity: 0;
    }
    .price-block span{
        text-align: center;
        display: block;
        margin-top: 22px;
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    span.price-main{
        font-size: 16px;
    }

    .btn-price-block span{
        text-align: center;
        display: block;
        margin-top: 22px;
        font-size: 16px;
        color: white;
    }
    .price-block{
        width: 60%;
        background-color: black;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
     }
     .btn-price-block{
        width: 50%;
        margin: auto;
     }
     .text-block{
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
    }
    .icon span{
        display: block;
        margin-top: 15px;
        min-height: 85px;
    }
    .top .h form{
        margin: auto;
        width: 100%;
        display: flex;
    }
    .top .h form input[type='text']{
        border: 1px solid white;
        border-radius: 10px;
        height: 30px;
        background-color: transparent;
        display: block;
        margin-top: 5px;
        color: white;
        text-align: center;
        width: 100%;
    }

    .top .h form button[type='submit']{
        width: 100%;
        height: 35px;
        background-color: #4c9432;
        border: none;
        color: white;
        display: block;
        margin-top:10px!important;
        margin-left:10%!important;
        margin: auto;
        border-radius: 0px !important;
    }
@keyframes translating {
    0%   { transform: translate(200px, 0); }
    100% { transform: translate(0, 0); }
}
    .text-block { animation: translating 2s linear; }
    .text-block-brushing { animation: translating 2s linear; }


@media all and (min-width: 800px) and (max-width: 800px){
    .text-block{
        right: 8%!important;
        top: 14%!important;
        font-size: 1em!important;
    }

    .btn-price-block span {
        padding-left: 18px;
        width: 100px;
    }
    .top .h {
        top: 2%!important;
        left: 5%!important;
        font-size: 1em;
    }
}
@media all and (max-width:480px){
    .top .h {
        top: 10px;
        left: 15%;
    }
    .top .h h1{
        font-size: 0.6em;
        margin-bottom: 0px!important;
    }
    .top .h span{
        font-size: 0.3em;
    }
    .middle-form {
        width: 150px;
    }
    .call-green {
        width: 80px;
        font-size: 10px!important;
    }
    .middle-engine form.block{
        left: 35%;
        bottom: 5%;
    }
    .call-red {
        width: 60px;
        font-size: 8px!important;
    }
    .middle-engine .text {
        bottom: 40%;
        left: 15%;
        font-size: 7px;
    }

    .icon .my-flex figure {
        width: 100%;
    }
    .price-main{
        margin-top: 50px;
    }
    .price-main span, .trust span{
        margin: auto;
    }

    .price-block{
        height: 180px;
       /* margin: auto;*/
    }
    .text-block{
        right: 7%;
        top: 6%;
        font-size: 0.6em;
    }

    .btn-price-block{
        float: none;
        width: 84px;
    }
    .top .h form input[type='text']{
        border-radius: 10px;
        height: 16px;
        padding: 2px 0px 2px 0px;
        width: 100px;
    }
    .top .h form button[type='submit']{
        width: 60px;
        height: 18px;
        font-size: 8px;
    }
    .my-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .breadcrumbs{
        font-size: 0.4em;
        top: 10px;
    }

}
@media all and (max-width:1280px) and (min-width: 500px){
    .top .h{
        top: 5%;
        left: 15%;
    }
    .top .h h1{
        font-size: 1.4em;
    }
    .middle-form {
        width: 150px;
    }
    .call-green {
        width: 120px;
    }
    .middle-engine form.block{
        left: 20%;
        bottom: 15%;
    }
    .call-red {
        width: 150px;
    }
    .middle-engine .text {
        bottom: 30%;
        left: 15%;
        font-size: 16px;
    }
    .icon ul{
        margin-left: 15%;
    }
    .text-block{
        right: 8%;
        top: 17%;
        font-size: 1.6em;
    }
    .my-flex{
        margin-left: 10%!important;
    }

}

@media all and (max-width:1367px) and (min-width: 1281px){
    .top .h{
        top: 3%;
        left: 15%;
    }
    .top .h h1{
        font-size: 2em;
    }
    .middle-form {
        width: 200px;
    }
    .call-green {
        width: 200px;
    }
    .middle-engine form.block{
        left: 20%;
        bottom: 25%;
    }
    .call-red {
        width: 200px;
    }
    .middle-engine .text {
        bottom: 35%;
        left: 19%;
        font-size: 20px;
    }
    .text-block{
        right: 7%;
        top: 18%;
        font-size: 1.6em;
    }
}
@media all and (min-width:1368px){
    .top .h{
        top: 6%;
        left: 15%;
    }
    .top .h h1{
        font-size: 2em;
    }
    .middle-form {
        width: 200px;
    }
    .call-green {
        width: 200px;
    }
    .middle-engine form.block{
        left: 20%;
        bottom: 25%;
    }
    .call-red {
        width: 200px;
    }
    .middle-engine .text {
        bottom: 35%;
        left: 19%;
        font-size: 20px;
    }
    .text-block{
        right: 5%;
        top: 19%;
        font-size: 2em;
    }
}
/* @media all and (max-device-width:1365px) and (min-device-width: 500px) and (orientation: landscape){
    .middle-engine form.block{
        left: 20%;
        bottom: 12%;
    }
    .text-block{
        right: 8%;
        top: 20%;
        font-size: 1.2em;
    }
    .top .h h1{
        font-size: 1.2em;
    }
    .top .h span{
        font-size: 1em;
        width:200px;
    }

    .top .h form input[type='text']{
        border-radius: 10px;
        height: 20px;
        padding: 2px 0px 2px 0px;
        width: 200px;
    }
    .top .h form button[type='submit']{
        width: 150px;
        height: 20px;
        font-size: 8px;
    }
   .breadcrumbs{

        top: 10px;
    }
} */
/* end page engine */

/* brushing page */
img.brushing-car{
width: 35%;
margin: auto;
position: absolute;
left: 37%;
top: 24%;
}
    .block-brushing{
        position: relative;
        margin-bottom: 25%;
    margin-top: 22%;
    }
    #brushing-car{
        width: 53%;
        position: absolute;
        margin: auto;
        left: -6%;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        opacity: 0;
    }
    #brushing-points{
        width: 75%;
        position: absolute;
        margin: auto;
        left: 2%;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }

@keyframes show-car {
    0%   { opacity: 0; }
    50%   { opacity: 0.5; }
    75%   { opacity: 0.75; }
    100%   { opacity:10; }
}
    /*.brushing-car { animation: show-car 2s linear; }   */
.text-block-brushing{
    display: block;
position: absolute;
text-align: right;
font-weight: bold;
}
#car-right{
    position: absolute;
right: -1000px;
width: 40%;
bottom: 0;
}

/* end */






.text1{
    font-size: 1em;
    font-weight: bold;
}
.text2{
    font-size: 1.4em;
    font-weight: bold;
}
.text3{
    color: gray;
    font-size: 0.8em;
}
.text4{

}
@media all and (min-width: 800px) and (max-width: 800px){
    .text-block-brushing{
        right: 5%;
        top: 16%;
        font-size: 1.4em;
    }
}
@media all and (max-width:480px){
    .text-block-brushing{
        right: 5%;
        top: 6%;
        font-size: 0.4em;
    }
}
@media all and (max-width:1280px) and (min-width: 500px){
    .text-block-brushing{
        right: 5%;
        top: 16%;
        font-size: 1.4em;
    }
}
@media all and (min-width: 800px) and (max-width: 800px){
    .text-block-brushing{
        right: 5%;
        top: 12%;
        font-size: 1em;
    }
}
@media all and (max-width:1025px) and (min-width: 1023px){
    .text-block-brushing{
        right: 5%;
        top: 14%;
        font-size: 1.2em;
    }
}
@media all and (max-width:1367px) and (min-width: 1281px){
    .text-block-brushing{
        right: 5%;
        top: 17%;
        font-size: 1.6em;
    }
}
@media all and (min-width:1368px){
    .text-block-brushing{
        right: 5%;
        top: 18%;
        font-size: 1.6em;
    }
}
@media all and (max-width:1441px) and (min-width: 1439px){
    .text-block-brushing{
        right: 5%;
        top: 16%;
        font-size: 1.4em;
    }
}
@media all and (max-width:1441px) and (min-width: 1439px){
    .text-block-brushing{
        right: 5%;
        top: 16%;
        font-size: 1.4em;
    }
}



/* page protection */
    .protection img{
        width: 60%;
        margin: auto;
        display: block;
    }
    .protection-text-block{
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
    }
    .block-protection{
        position: relative;
        margin-bottom: 12%;
        margin-top: 15%;
    }
    #protection-car{
        width: 45%;
        margin: auto;
        display: block;
        margin-left: -1000px;
    }
    #protection-points{
        width: 60%;
        position: absolute;
        margin: auto;
        left: -3%;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    @keyframes translatingProtection {
        0%   { transform: translate(200px, 0); }
        100% { transform: translate(0, 0); }
    }
    .protection-text-block { animation: translatingProtection 2s linear; }
    @media all and (min-width: 800px) and (max-width: 800px){
        .protection-text-block{
            right: 5%;
            top: 16%;
            font-size: 1.4em;
        }
    }
    @media all and (max-width:480px){
        .protection-text-block{
            right: 7%;
            top: 5.5%;
            font-size: 0.4em;
        }
    }
    @media all and (max-width:1280px) and (min-width: 500px){
        .protection-text-block{
            right: 5%;
            top: 15%;
            font-size: 1.4em;
        }
    }
    @media all and (min-width: 800px) and (max-width: 800px){
        .protection-text-block{
            right: 5%;
            top: 12%;
            font-size: 1em;
        }
    }
    @media all and (max-width:1025px) and (min-width: 1023px){
        .text-block-brushing{
            right: 5%;
            top: 14%;
            font-size: 1.2em;
        }
    }
    @media all and (max-width:1367px) and (min-width: 1281px){
        .protection-text-block{
            right: 5%;
            top: 16%;
            font-size: 1.4em;
        }
    }
    @media all and (min-width:1368px){
        .protection-text-block{
            right: 5%;
            top: 18%;
            font-size: 1.6em;
        }
    }
    @media all and (max-width:1441px) and (min-width: 1439px){
        .protection-text-block{
            right: 5%;
            top: 16%;
            font-size: 1.4em;
        }
    }
    @media all and (max-width:1441px) and (min-width: 1439px){
        .protection-text-block{
            right: 5%;
            top: 16%;
            font-size: 1.4em;
        }
    }

/* end page protection */
/* page salon repair */
    .block-repair{
        position: relative;
        margin-bottom: 12%;
        margin-top: 15%;
    }
    #salon-repair{
        width: 60%;
        margin: auto;
        display: block;
        margin-left: -1000px;
    }
    #salon-repair-points{
        width: 60%;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
    .repair{
        position: relative;
        margin: auto;
        width: 85%;
        float: none;
        padding-bottom: calc(10vw);
        padding-top: 40px;
    }
    .salon-repair{
        position: relative;
        width: 50%;
        left: 23%;
        top: 40%;
    }
    .salon-repair-points{
        position: absolute;
        left: 28%;
        width: 45%;
        top: 10%;
        z-index: 2;
    }
    .repair-text-block{
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
        right: 6%;
    }
    .flex-stuff{
    	display: flex;
    	flex-direction: row;
    	justify-content: center;
    }
    .flex-stuff figure{

    }
    .flex-stuff figure div{
    	width: 100px;
    	margin: auto;
    }
    .flex-stuff img{
    	width:100px;
    }
    .flex-stuff span{
    	text-align: center;
        padding-top:10px;
    }
    .btn-green{
        background-color: #4c9432 !important;
        border: none;
        color: white !important;
        display: block;
        margin: auto;
        border: 1px solid green !important;
        border-radius: 0px !important;
    }



@media all and (max-width:480px){
    .flex-stuff {
        display: block;
        margin-bottom: 30px;
    }
    .flex-stuff figure {
        width: 100%;
    }
    .flex-stuff figure div{
        width:50px;
    }

    .flex-stuff img{
        width: 50px;
    }

}

    @keyframes translating-repair-text {
        0%   { transform: translate(200px, 0); }
        100% { transform: translate(0, 0); }
    }
    .repair-text-block { animation: translating-repair-text 2s linear; }
    .price-flex{
    	display: flex;
    	flex-direction: row;
    	justify-content: center;
        height: 300px;
        position: absolute!important;
        width: 70%;
        top: 20%;
    }
    .image-with-price p{
        width: 200px;
        margin: auto;
        color: white;
        padding-top: 4%;
        padding-bottom: 4%;
        font-size: 1.6em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
    .price-flex figure div span{
        display: block;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .price-flex figure div div{
        border: 1px solid gray;
        margin-top: 5px;
    }

    .price-flex figure{
        border: 1px solid white;
        margin-right: 1%;
        width:15%;
        display: flex;
        align-items: center;
    }
    .price-flex figure>div{
        margin: auto;
        text-align: center;
    }

    .price-flex figure button{
        position: absolute;
        bottom: -10px;
        display: flex;
    }

    .price-flex span{
    	text-align: center;
        padding-top:10px;
    }
    .image-with-price{

    }
    .image-with-price img{
            width: 100%;
    }

    @media all and (max-width:480px){
        .repair-text-block{
            right: 8%!important;
            top: 5%;
            font-size: 0.4em;
        }
    .price-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    position: relative !important;
    margin-top: 50px;
        }
        .price-flex figure {
            width: 50%;
            margin: auto;
            margin-bottom: 15px;
            min-height: 135px;
        }
        .price-flex figure > div{

        }

         .image-with-price {
            /*height: 100%;*/
            background: url('../image/salon-repair/price.jpg');
            background-size: cover;
        }
        .price-flex figure button {
            position: relative;
        }
        .image-with-price img{
            display: none;
        }

    }
    @media all and (max-width:1280px) and (min-width: 500px){
        .repair-text-block{
            right: 8%;
            top: 18%;
            font-size: 1.6em;
        }
        .price-flex{
            width: 90%!important;
        }

    }
    @media all and (min-width: 1023px) and (max-width: 1025px){
        .repair-text-block{
            top: 17%;
            font-size: 1.4em;
        }
        .price-flex{
            height: 200px;
            margin-top: 4%;
        }

    }
    @media all and (min-width: 800px) and (max-width: 800px){
        .repair-text-block{
            top: 15%;
            font-size: 1.2em;
        }
        .price-flex{
            margin-top: 4%;
            height: 140px;
        }
        .price-flex figure div span {
            font-size: 10px;
        }
        .btn-green{
            width: 60px;
            font-size: 10px;
        }

    }
    @media all and (max-width:1367px) and (min-width: 1281px){
        .repair-text-block{
            top: 18%;
            font-size: 1.6em;
        }
    }
    @media all and (min-width:1368px){
        .repair-text-block{
            top: 17%;
            font-size: 1.8em;
        }
    }
     @media all and (max-width:1441px) and (min-width:1439px){
        .repair-text-block{
            top: 16%;
            font-size: 1.8em;
        }
    }
/* end page salon repair */







    /* glass  */
    .number-flex{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: end;
        padding-bottom: 40px;
        margin-top: -10%;
    }
    .number-flex figure{
        text-align: center;
        margin: 0 10px 0 10px;
    }
    .number-flex figure div{
            font-size: 3em;
    }
    .glass-image{
        position: relative;
        margin-top: 70px;
    }
    .glass-points{
        position: relative;
        margin: auto;
        margin-bottom: -20px;
        z-index: 2;
        opacity: 0;
    }
    .glass-car{
        position: relative;
        width: 72%!important;
        margin: auto;
        opacity: 0;
    }
    .glass-text-block{
        right: 8%;
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
    }
    .icon-glass span {
        display: block;
        margin-top: 15px;
        min-height: 100px;
    }
    @keyframes glassTextBlock {
        0%   { transform: translate(200px, 0); }
        100% { transform: translate(0, 0); }
    }
    .glass-text-block{ animation: glassTextBlock 2s linear; }
    @media all and (max-width:480px){
        .number-flex{
            flex-direction: column;
            align-items: center;
        }
        .trust span{
            font-size: 1.2em;
        }
        .glass-text-block{
            right: 8%!important;
            top: 4%;
            font-size: 0.4em;
        }
    }
    @media all and (max-width:1280px) and (min-width: 500px){
        .glass-text-block{
            right: 8%;
            top: 15.5%;
            font-size: 1.6em;
        }
    }
    @media all and (min-width: 1023px) and (max-width: 1025px){
        .glass-text-block{
            top: 14.5%;
            font-size: 1.4em;
        }
    }
    @media all and (min-width: 800px) and (max-width: 800px){
        .glass-text-block{
            top: 11%;
            font-size: 1.2em;
        }
    }
    @media all and (max-width:1367px) and (min-width: 1281px){
        .glass-text-block{
            top: 16%;
            font-size: 1.6em;
        }
    }
    @media all and (min-width:1368px){
        .glass-text-block{
            top: 17.5%;
            font-size: 1.8em;
        }
    }
     @media all and (max-width:1441px) and (min-width:1439px){
        .glass-text-block{
            top: 16%;
            font-size: 1.8em;
        }
    }
/* end glass */






    /* cleaner */
    .cleaner-flex{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: end;
        padding-bottom: 40px;
        margin-top: -10%;
    }
    .cleaner-flex figure{
        text-align: center;
        margin: 0 10px 0 10px;
    }
    .cleaner-flex span{
    	text-align: center;
    }
    .block-car-points{
        position: relative;
        margin-bottom: 12%;
        margin-top: 15%;
    }
    #cleaner-car{
        width: 50%;
        margin: auto;
        display: block;
        margin-left: -1000px;
    }
    #cleaner-points{
        width: 60%;
        position: absolute;
        margin: auto;
        left: -15%;
        top: 0;
        bottom: 0;
        right: 0;
    }
    .cleaner-svg-icon-block{
        display: block;
        margin-top: 10%;
    }
    @keyframes cleanerMoveCar {
        0%   { transform: translate(-1000px, 0); }
        100% { transform: translate(485px, 0); }
    }
    .cleaner-text-block{
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
    }
    @keyframes cleanerPoint {
        0%   { opacity: 0; }
        50%   { opacity: 0.5; }
        75%   { opacity: 0.75 }
        100% { opacity: 1; }
    }
    #cleaner-points { animation: cleanerPoint 6s linear; }
    @keyframes cleanerTextBlock {
        0%   { transform: translate(200px, 0); }
        100% { transform: translate(0, 0); }
    }
    .cleaner-text-block{ animation: cleanerTextBlock 2s linear; }
    .animatePriceBlock{
        opacity: 0;
    }
    @media all and (min-width: 800px) and (max-width: 800px){
        .cleaner-text-block{
            right: 8%!important;
            top: 12% !important;
            font-size: 1.4em !important;
        }
    }
    @media all and (max-width:480px){
        .cleaner-text-block{
            right: 8%!important;
            top: 5%;
            font-size: 0.4em;
        }
        .cleaner-flex {
            flex-direction: column;
            width: 70%;
        }
        .cleaner-flex figure{
            text-align: center;
            height: 100px;
        }
        .cleaner-flex figure img{
            width: 60px;
        }
        .price-block span {
            font-size: 14px;
        }
    }
    @media all and (max-width:1280px) and (min-width: 500px){
        .cleaner-text-block{
            right: 8%!important;
            top: 15%;
            font-size: 1em;
        }
    }
    @media all and (max-width:1367px) and (min-width: 1281px){
        .cleaner-text-block{
            right: 8%!important;
            top: 16%!important;
            font-size: 1.6em!important;
        }
    }
    @media all and (min-width:1368px){
        .cleaner-text-block{
            right: 8%!important;
            top: 18%!important;
            font-size: 1.6em!important;
        }
    }
    @media all and (max-device-width:1365px) and (min-device-width: 500px) and (orientation: landscape){
    }
/* wheel page */
.wheel{

}
#wheel-block{
              width: 40%!important;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    opacity: 0;
    padding-top: 20px;
}
.clear {
    clear: both;
}
.wheel-text-block{
        display: block;
    position: absolute;
    text-align: right;
    font-weight: bold;
}


    @media all and (max-width:480px){
        .wheel-text-block{
            right: 4%;
            top: 6%;
            font-size: 0.4em;
        }
    }
    @media all and (max-width:1280px) and (min-width: 500px){
        .wheel-text-block{
            right: 3%;
            top: 16%;
            font-size: 1.2em;
        }
    }
    @media all and (min-width: 800px) and (max-width: 800px){
        .wheel-text-block{
            right: 4%;
            top: 14%;
            font-size: 0.8em;
        }
    }
    @media all and (max-width:1367px) and (min-width: 1281px){
        .wheel-text-block{
            right: 4%;
            top: 19%;
            font-size: 1.6em;
        }
    }
    @media all and (min-width:1368px){
        .wheel-text-block{
            right: 4%;
            top: 22%;
            font-size: 1.6em;
        }
    }
      @media all and (max-width:1441px) and (min-width:1439px){
        .wheel-text-block{
            top: 19%;
            font-size: 1.6em;
        }
    }
        @keyframes wheelTextBlock {
        0%   { transform: translate(200px, 0); }
        100% { transform: translate(0, 0); }
    }
    .wheel-text-block{ animation: wheelTextBlock 2s linear; }


/* coatinds page */
     .coatings{
                 position: relative;
        margin-bottom: 25%;
    margin-top: 22%;
     }
    #coatings-car{
        position: absolute;
        width: 50%;
        margin: auto;
        left: -2000px;
        top: -2000px;
        bottom: 0;
        right: 0;
    }
    #coatings-points{
        width: 60%;
        position: absolute;
        margin: auto;
        left: 16%;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    .properties{
        opacity: 0;
    }

    .coatings-text-block{
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
    }
    @keyframes translatingCoatings {
        0%   { transform: translate(200px, 0); }
        100% { transform: translate(0, 0); }
    }
    .coatings-text-block { animation: translatingCoatings 2s linear; }
    @media all and (max-width:480px){
        .coatings-text-block{
            right: 7%;
            top: 5.5%;
            font-size: 0.4em;
        }
    }
    @media all and (max-width:1280px) and (min-width: 500px){
        .coatings-text-block{
            right: 5%;
            top: 13%;
            font-size: 1.4em;
        }
    }
    @media all and (min-width: 800px) and (max-width: 800px){
        .coatings-text-block{
            right: 5%;
            top: 12%;
            font-size: 1em;
        }
    }
    @media all and (max-width:1025px) and (min-width: 1023px){
        .coatings-text-block{
            right: 5%;
            top: 12%;
            font-size: 1.2em;
        }
    }
    @media all and (max-width:1367px) and (min-width: 1281px){
        .coatings-text-block{
            right: 5%;
            top: 16%;
            font-size: 1.4em;
        }
    }
    @media all and (min-width:1368px){
        .coatings-text-block{
            right: 5%;
            top: 14%;
            font-size: 1.6em;
        }
    }
    @media all and (max-width:1441px) and (min-width: 1439px){
        .coatings-text-block{
            right: 5%;
            top: 13%;
            font-size: 1.4em;
        }
    }
/* end */

/* carcase-repair */
  .carcase-repair{
                 position: relative;
        margin-bottom: 25%;
    margin-top: 22%;
     }
    #carcase-repair-car{
        position: absolute;
        width: 50%;
        margin: auto;
        left: -2000px;
        top: -2000px;
        bottom: 0;
        right: 0;
    }
    #carcase-repair-points{
        width: 74%;
        position: absolute;
        margin: auto;
        left: 8%;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    .properties{
        opacity: 0;
    }

    .carcase-repair-text-block{
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
    }
    @keyframes translatingCarcaseRepair {
        0%   { transform: translate(200px, 0); }
        100% { transform: translate(0, 0); }
    }
    .carcase-repair-text-block { animation: translatingCarcaseRepair 2s linear; }
    @media all and (max-width:480px){
        .carcase-repair-text-block{
            right: 7%;
            top: 5.5%;
            font-size: 0.4em;
        }
    }
    @media all and (max-width:1280px) and (min-width: 500px){
        .carcase-repair-text-block{
            right: 5%;
            top: 13%;
            font-size: 1.4em;
        }
    }
    @media all and (min-width: 800px) and (max-width: 800px){
        .carcase-repair-text-block{
            right: 5%;
            top: 12%;
            font-size: 1em;
        }
    }
    @media all and (max-width:1025px) and (min-width: 1023px){
        .carcase-repair-text-block{
            right: 5%;
            top: 12%;
            font-size: 1.2em;
        }
    }
    @media all and (max-width:1367px) and (min-width: 1281px){
        .carcase-repair-text-block{
            right: 5%;
            top: 16%;
            font-size: 1.4em;
        }
    }
    @media all and (min-width:1368px){
        .carcase-repair-text-block{
            right: 5%;
            top: 14%;
            font-size: 1.6em;
        }
    }
    @media all and (max-width:1441px) and (min-width: 1439px){
        .carcase-repair-text-block{
            right: 5%;
            top: 13%;
            font-size: 1.4em;
        }
    }
/* end    */
/* car-skin */
  .car-skin{
                 position: relative;
        margin-bottom: 25%;
    margin-top: 22%;
     }
    #car-skin-car{
        position: absolute;
        width: 50%;
        margin: auto;
        left: -2000px;
        top: -2000px;
        bottom: 0;
        right: 0;
    }
    #car-skin-points{
        width: 70%;
        position: absolute;
        margin: auto;
        left: 14%;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    .properties{
        opacity: 0;
    }

    .car-skin-text-block{
        display: block;
        position: absolute;
        text-align: right;
        font-weight: bold;
    }
    @keyframes translatingCarcaseRepair {
        0%   { transform: translate(200px, 0); }
        100% { transform: translate(0, 0); }
    }
    .car-skin-text-block { animation: translatingCarcaseRepair 2s linear; }
    @media all and (max-width:480px){
        .car-skin-text-block{
            right: 7%;
            top: 5.5%;
            font-size: 0.4em;
        }
    }
    @media all and (max-width:1280px) and (min-width: 500px){
        .car-skin-text-block{
            right: 5%;
            top: 13%;
            font-size: 1.4em;
        }
    }
    @media all and (min-width: 800px) and (max-width: 800px){
        .car-skin-text-block{
            right: 5%;
            top: 12%;
            font-size: 1em;
        }
    }
    @media all and (max-width:1025px) and (min-width: 1023px){
        .car-skin-text-block{
            right: 5%;
            top: 12%;
            font-size: 1.2em;
        }
    }
    @media all and (max-width:1367px) and (min-width: 1281px){
        .car-skin-text-block{
            right: 5%;
            top: 17%;
            font-size: 1.4em;
        }
    }
    @media all and (min-width:1368px){
        .car-skin-text-block{
            right: 5%;
            top: 14%;
            font-size: 1.6em;
        }
    }
    @media all and (max-width:1441px) and (min-width: 1439px){
        .car-skin-text-block{
            right: 5%;
            top: 13%;
            font-size: 1.4em;
        }
    }

