.left-panel{
        width: 110px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 55;
        background: #ffffff;
        min-height: 600px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 .logo{
        display: block;
        height: 70px;
        background: url(../image/logo.png) no-repeat 50% 50%;
        background-size: auto 70px;
        text-indent: -9999px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
}
.logo:hover{
        opacity:0.5;
}
ul.list-main{
        list-style: none;
        margin-top: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

ul.list-main li a{
        text-decoration: none;
        text-align: center;
        padding-bottom: 15px;
        font-size: 14px;
        color: black;
        font-family: 'GothamPro Light', sans-serif;
        display: block;
}
ul.list-main li.item-1{
        padding-top: 35px;
        background-image: url(../image/menu/carcase.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 65%;
}
ul.list-main li.item-2{
        padding-top: 55px;
        background-image: url(../image/menu/place.svg);
        background-size: contain;
        background-repeat: no-repeat;
}
ul.list-main li.item-3{
        padding-top: 35px;
        background-image: url(../image/menu/glass.svg);
        background-size: contain;
        background-repeat: no-repeat;
}
ul.list-main li.item-4{
        padding-top: 50px;
        background-image: url(../image/menu/wheel.svg);
        background-size: contain;
        background-repeat: no-repeat;
}
ul.list-main li.item-5{
        padding-top: 50px;
        background-image: url(../image/menu/engine.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width:50px;
}
ul.list-main li.call-main{
        border-radius: 35px;
        width: 50px;
        height: 50px;
}
ul.list-main li.call-main:hover{
        -moz-box-shadow: 0 0 20px #c22929;
        -webkit-box-shadow: 0 0 20px #c22929;
        box-shadow: 0 0 20px #c22929;
        border-radius: 35px;
}
ul.list-main li a{
        /*width: 60%;*/
}
.display1{
        background-image: url(../image/main.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 725px;
}
.display1 img{
        width: 100%;
}
.display2{
        background-image: url(../image/main/slide2.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
}
.display2-z-engine{
        background-image: url(../image/main/hover-engine.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.display2-z-salon{
        background-image: url(../image/main/hover-salon.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.display2-z-carcase{
        background-image: url(../image/main/hover-carcase.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.display2-z-wheel{
        background-image: url(../image/main/hover-wheel.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.display2-z-glass{
        background-image: url(../image/main/hover-glass.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.close-img{
        position: absolute;
        opacity: 0;
        top: 2%;
        width: 50px;
        right: 12%;
}
.engineBlock{
        width: 45px;
        height: 45px;
}
.display2 div.engineBlock img{
        position: absolute;
        display: block;
        width: 45px;
        margin-left: 68%;
        padding-top: 26%;
}
.display2 div.wheelBlock img{
        position: relative;
        width: 45px;
        margin-left: 43%;
        margin-top: 35%;
}
.display2 div.glassBlock img{
        position: absolute;
        width: 45px;
        left: 50%;
        top: 36%;
}
.display2 div.carcaseBlock img{
        position: absolute;
        width: 45px;
        margin-left: 44%;
        margin-top: -17%;
}
.display2 div.placeBlock img{
        position: absolute;
        width: 45px;
        margin-left: 32%;
        margin-top: -8%;
}
.page-krytex{
        width: 100%;
        height:100%
}
.red-button{
        background-color: #d11f22;
        max-width: 125px;
        position: absolute;
        right: 15px;
        top: 45%;
        height: 150px;
        width: 100%;
        max-height: 130px;
        display: table;
}
.red-button span{
        display: table-cell;
        text-align: center;
        font-weight: bold;
        color: white;
        vertical-align: middle;
        font-size: 26px;
}
.logo-krytex{
        position: absolute;
        width: 50%;
        left: 25%;
        top: 45%;
}
.text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{
        opacity:0;
        display: block;
        position: absolute;
        top: 6%;
        left: 50%;
        color: white;
}
.wheelBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
}
.carcaseBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
        bottom: 12%;
}
.engineBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
}
.salonBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
        bottom: 12%;
}
.glassBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
        bottom: 20%;
}
.wheelBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.engineBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.salonBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.carcaseBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.glassBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.engineBottom figure span{
        display: inline-block;
        position: absolute;
        top: 14px;
        color: white;
        left: 47%;
}
.wheelBottom figure span{
        position: relative;
        bottom: 35px;
        color: white;
        left: 47%;
}
.wheelBottom figure{

}

@media all and (max-width:480px){
        .display1{ background-size: contain;}
        .display2{ background-size: contain;}
        .display2 div.engineBlock img{width: 20px;}
        .display2 div.wheelBlock img{width: 20px;}
        .display2 div.glassBlock img{width: 20px;}
        .display2 div.carcaseBlock img{width: 20px;}
        .display2 div.placeBlock img{width: 20px;}
        .display1{height: 500px!important;}
        .red-button{max-height: 38px;width: 40px;top: 44%;}
        .left-panel{ zoom: 0.7; }
        .red-button span{font-size: 14px;}
        .display2 div.wheelBlock img {margin-top: 18%;}
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{top: 2.5%;font-size: 1.2em;}
        .close-img img{ width: 20px;}
}
@media all and (max-width:1280px) and (min-width: 500px){
        .display1{ background-size: 100%;}
        .display2{ background-size: 100%;}
        .red-button { max-height: 90px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 3em; }
        .display2 div.glassBlock img { top: 34%;}
}
@media all and (min-width: 800px) and (max-width: 800px){
        .display1{ background-size: contain;}
        .display2{ background-size: contain;}
        .display2 div.engineBlock img,
        .display2 div.wheelBlock img,
        .display2 div.glassBlock img,
        .display2 div.carcaseBlock img,
        .display2 div.placeBlock img{ width: 30px;}
        .red-button{ max-height: 56px; width: 80px; }
        .red-button span { font-size: 18px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 1.8em;  left: 40%; }
        .display2 div.wheelBlock img{ margin-top: 25%; margin-left: 33%; }
        .close-img { right: 36%;}
        .display2 div.engineBlock img { margin-left: 51%; padding-top: 20%;}
        .display2 div.placeBlock img {margin-left: 25%; margin-top: -6%; }
        .display2 div.carcaseBlock img {margin-left: 33%; margin-top: -13%; }
        .display2 div.glassBlock img{ left: 38%; top: 36%;         }

}
@media all and (max-width:1025px) and (min-width: 1023px){
        .display1{ background-size: contain;}
        .display2{ background-size: 100%;}
        .red-button { max-height: 75px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 3em; }
        .close-img {right: 17%;}
        .display2 div.glassBlock img { top: 37%;}
}
@media all and (max-width:1367px) and (min-width: 1281px){
        .display1{ background-size: 100%;}
        .display2{ background-size: 100%;}
        .red-button { max-height: 100px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 4em; }
}
@media all and (min-width:1368px){
        .display1{ background-size: 100%;}
        .display2{ background-size: 100%;}
        .red-button { width: 120px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 4em; }
}
@media all and (max-width:1441px) and (min-width: 1439px){
        .display1{ background-size: 100%;}
        .display2{ background-size: 100%;}
}
    /*      @media all and (max-width:1280px) and (min-width: 900px){
                                .container,.col-lg-11{
                                                width: 100%!important;
                                                margin-left: 0px!important;
                                }
                }
                @media all and (max-width:1367px) and (min-width: 1281px){
                                .container{
                                                padding-left: 0px!important;
                                }
                                .container,.col-lg-11{
                                                width: 100%!important;
                                }
                }
                @media all and (min-width:1368px){
                                .container,.col-lg-11{
                                                width: 100%!important;
                                }
                }*/
/*




        .example{
                margin: auto;
                font-size: 1.6em;
                padding-top: 35px;
                text-align: center;
                font-weight: bold;
                opacity: 0;
        }
/* menu */
/* main page */
/*    .display1{
                background-size: contain;
                background-image: url(../image/main.jpg);
                background-repeat: no-repeat;
                height: 100%;
        }
        .display1 img{
                width: 100%;
        }
        .display2{
                background-image: url(../image/main/slide2.jpg);
                background-repeat: no-repeat;
                position: relative;
                width: 100%;
                height: 800px!important;
        }
        .display2-z-engine{
                background-image: url(../image/main/hover-engine.jpg);
                background-repeat: no-repeat;
                position: relative;
                width: 100%;
                height: 100%;
                z-index: -10;
        }
        .display2-z-salon{
                background-image: url(../image/main/hover-salon.jpg);
                background-repeat: no-repeat;
                position: relative;
                width: 100%;
                height: 100%;
                z-index: -10;
        }
        .display2-z-carcase{
                background-image: url(../image/main/hover-carcase.jpg);
                background-repeat: no-repeat;
                position: relative;
                width: 100%;
                height: 100%;
                z-index: -10;
        }
        .display2-z-wheel{
                background-image: url(../image/main/hover-wheel.jpg);
                background-repeat: no-repeat;
                position: relative;
                width: 100%;
                height: 100%;
                z-index: -10;
        }
        .display2-z-glass{
                background-image: url(../image/main/hover-glass.jpg);
                background-repeat: no-repeat;
                position: relative;
                width: 100%;
                height: 100%;
                z-index: -10;
        }
        .close-img{
                position: absolute;
                opacity: 0;
                top: 2%;
                width: 50px;
                right: 12%;
        }
        .engineBlock{
                width: 45px;
                height: 45px;
        }

        .display2 div.engineBlock img{
                position: absolute;
                display: block;
                width: 45px;
                margin-left: 68%;
                padding-top: 26%;
        }
        .display2 div.wheelBlock img{
                position: relative;
                width: 45px;
                margin-left: 43%;
                margin-top: 35%;
        }
        .display2 div.glassBlock img{
                position: relative;
                width: 45px;
                margin-left: 51%;
                margin-top: -20%;
        }
        .display2 div.carcaseBlock img{
                position: relative;
                width: 45px;
                margin-left: 44%;
                margin-top: -16%;
        }
        .display2 div.placeBlock img{
                position: relative;
                width: 45px;
                margin-left: 32%;
                margin-top: -8%;
        }
        .page-krytex{
                width: 100%;
                height:100%
        }
        .red-button{
                background-color: #d11f22;
                max-width: 125px;
                position: absolute;
                right: 15px;
                top: 45%;
                height: 150px;
                width: 100%;
                max-height: 130px;
                display: table;
        }
        .red-button span{
                display: table-cell;
                text-align: center;
                font-weight: bold;
                color: white;
                vertical-align: middle;
                font-size: 26px;
        }

        .logo-krytex{
                position: absolute;
                width: 50%;
                left: 25%;
                top: 45%;
        }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{
                opacity:0;
                display: block;
                position: absolute;
                top: 6%;
                left: 50%;
                color: white;
        }
        .wheelBottom,.engineBottom{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 7%;
                position: relative;
                opacity: 0;
        }
        .wheelBottom figure img, .engineBottom figure img{
                display: block;
                margin: auto;
                width: 50%;
        }
        .wheelBottom figure span, .engineBottom figure span{
                display: inline-block;
                position: absolute;
                top: 14px;
                color: white;
                left: 47%;
        }


/* end page main */
/* general style */
    /*  .breadcrumbs{
                position: absolute;
                top:30px;
                color: white;
        }

        .container,.col-lg-11{
                margin-right: 0px!important;
                margin-left: 0px;
                padding-right: 0px!important;
                overflow: hidden;
        }
        .top img{
                width: 100%;
        }
        footer{
                height: 150px;
                background-color: #1e1e1e;
                color: white;
                text-align: center;
        }
                                */
/* end general style */
#modal_form {
    width: 300px;
    height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%;
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}
.social-modal ul li a  img{
    width: 30px;
}
.social-modal ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 25px;
}
.social-modal ul li{
    margin-right: 5px;
}

.phone-modal{
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    padding-top: 50px;
}
.address-modal{
    display: flex;
    justify-content: center;
    font-size: 1em;
    text-align: center;
    padding: 5px 0px;
}
.email-modal{
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding-top: 15px;
}
.email-modal img{
    width: 25px;
    padding-right: 5px;
}
.email-modal a{
    text-decoration: none;
    color: black;
}

ul.list-main li ul{
    position: absolute;
    left: -9999px;
    width: 150px;
    font-size: 12px;
    background: white;
    opacity: 0;
    border-left: 7px solid red;
    padding: 10px 20px;
}
ul.list-main li ul li a{
        padding-bottom: 0px;
}

ul.list-main li.item-1:hover  ul{
    opacity: 0.7;
    left:100%;
    top: 95px;
}
ul.list-main li.item-2:hover  ul{
    opacity: 0.7;
    left:100%;
    top: 190px;
}
ul.list-main li.item-3:hover  ul{
    opacity: 0.7;
    left:100%;
    top: 270px;
}

