.left-panel{
        width: 110px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 55;
        background: #ffffff;
        min-height: 600px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 .logo{
        display: block;
        height: 70px;
        background: url(../image/logo.png) no-repeat 50% 50%;
        background-size: auto 70px;
        text-indent: -9999px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
}
.logo:hover{
        opacity:0.5;
}
ul.list-main{
        list-style: none;
        margin-top: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

ul.list-main li a{
        text-decoration: none;
        text-align: center;
        padding-bottom: 15px;
        font-size: 14px;
        color: black;
        font-family: 'GothamPro Light', sans-serif;
        display: block;
}
ul.list-main li.item-1{
        padding-top: 35px;
        background-image: url(../image/menu/carcase.svg);
        background-position-x:center;
        background-repeat: no-repeat;
        background-size: 65%;
        width: 100%;
}
ul.list-main li.item-2{
        padding-top: 55px;
        background-image: url(../image/menu/place.svg);
        background-position-x:center;
        background-repeat: no-repeat;
        background-size: 40%;
        width: 100%;
}
ul.list-main li.item-3{
        padding-top: 35px;
        background-image: url(../image/menu/glass.svg);
         background-position-x:center;
        background-repeat: no-repeat;
         background-size: 40%;
        width: 100%;
}
ul.list-main li.item-4{
        padding-top: 50px;
        background-image: url(../image/menu/wheel.svg);
        background-position-x:center;
        background-repeat: no-repeat;
        background-size: 40%;
        width: 100%;
}
ul.list-main li.item-5{
        padding-top: 50px;
        background-image: url(../image/menu/engine.svg);
        background-position-x:center;
        background-repeat: no-repeat;
        background-size: 40%;
        width: 100%;
}
ul.list-main li.call-main{
        border-radius: 35px;
        width: 50px;
        height: 50px;
}
ul.list-main li.call-main:hover{
        -moz-box-shadow: 0 0 20px #c22929;
        -webkit-box-shadow: 0 0 20px #c22929;
        box-shadow: 0 0 20px #c22929;
        border-radius: 35px;
}
ul.list-main li a{
        /*width: 60%;*/
}
.display1{
        background-image: url(../image/main.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 725px;
}
.display1 img{
        width: 100%;
}
.display2{
        background-image: url(../image/main/slide2.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
}
.display2-z-engine{
        background-image: url(../image/main/hover-engine.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.display2-z-salon{
        background-image: url(../image/main/hover-salon.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.display2-z-carcase{
        background-image: url(../image/main/hover-carcase.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.display2-z-wheel{
        background-image: url(../image/main/hover-wheel.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.display2-z-glass{
        background-image: url(../image/main/hover-glass.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -10;
}
.close-img{
        position: absolute;
        opacity: 0;
        top: 2%;
        width: 50px;
        right: 12%;
}
.engineBlock{
        width: 45px;
        height: 45px;
}
.display2 div.engineBlock img{
        position: absolute;
        display: block;
        width: 45px;
        margin-left: 68%;
        padding-top: 26%;
}
.display2 div.wheelBlock img{
        position: relative;
        width: 45px;
        margin-left: 43%;
        margin-top: 35%;
}
.display2 div.glassBlock img{
        position: absolute;
        width: 45px;
        left: 50%;
        top: 36%;
}
.display2 div.carcaseBlock img{
        position: absolute;
        width: 45px;
        margin-left: 44%;
        margin-top: -17%;
}
.display2 div.placeBlock img{
        position: absolute;
        width: 45px;
        margin-left: 32%;
        margin-top: -8%;
}
.page-krytex{
        width: 100%;
        height:100%
}
.red-button{
        background-color: #d11f22;
        max-width: 125px;
        position: absolute;
        right: 15px;
        top: 45%;
        height: 150px;
        width: 100%;
        max-height: 130px;
        display: table;
}
.red-button span{
        display: table-cell;
        text-align: center;
        font-weight: bold;
        color: white;
        vertical-align: middle;
        font-size: 26px;
}
.logo-krytex{
        position: absolute;
        width: 50%;
        left: 25%;
        top: 45%;
}
.text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{
        opacity:0;
        display: block;
        position: absolute;
        top: 6%;
        left: 50%;
        color: white;
}
.wheelBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
        bottom: 15%;
}
.carcaseBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
        bottom: 45%;
}
.engineBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
}
.salonBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
        bottom: 28%;
}
.glassBottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        opacity: 0;
        bottom: 28%;
}
.wheelBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.engineBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.salonBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.carcaseBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.glassBottom figure img{
        display: block;
        margin: auto;
        width: 290px;
}
.engineBottom figure p{
        position: relative;
        bottom: 35px;
        color: white;
        text-align: center;
}
.wheelBottom figure p{
        position: relative;
        bottom: 35px;
        color: white;
        text-align: center;
}
.carcaseBottom figure p{
        position: relative;
        bottom: 35px;
        color: white;
        text-align: center;
}
.glassBottom figure p{
        position: relative;
        bottom: 35px;
        color: white;
        text-align: center;
}
.salonBottom figure p{
        position: relative;
        bottom: 35px;
        color: white;
        text-align: center;
}


@media all and (max-width:480px){
        .display1{ background-size: contain;}
        .display2{ background-size: contain;}
        .display2 div.engineBlock img{width: 20px;}
        .display2 div.wheelBlock img{width: 20px;}
        .display2 div.glassBlock img{width: 20px;}
        .display2 div.carcaseBlock img{width: 20px;}
        .display2 div.placeBlock img{width: 20px;}
        .display1{height: 500px!important;}
        .red-button{max-height: 38px;width: 40px;top: 44%;}
        .left-panel{ zoom: 0.7; }
        .red-button span{font-size: 14px;}
        .display2 div.wheelBlock img {margin-top: 18%;}
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{top: 2.5%;font-size: 1.2em;}
        .close-img img{ width: 20px;}
}
@media all and (max-width:1280px) and (min-width: 500px){
        .display1{ background-size: 100%;}
        .display2{ background-size: 100%;}
        .red-button { max-height: 90px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 3em; }
        .display2 div.glassBlock img { top: 34%;}
}
@media all and (min-width: 800px) and (max-width: 800px){
        .display1{ background-size: contain;}
        .display2{ background-size: contain;}
        .display2 div.engineBlock img,
        .display2 div.wheelBlock img,
        .display2 div.glassBlock img,
        .display2 div.carcaseBlock img,
        .display2 div.placeBlock img{ width: 30px;}
        .red-button{ max-height: 56px; width: 80px; }
        .red-button span { font-size: 18px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 1.8em;  left: 40%; }
        .display2 div.wheelBlock img{ margin-top: 25%; margin-left: 33%; }
        .close-img { right: 36%;}
        .display2 div.engineBlock img { margin-left: 51%; padding-top: 20%;}
        .display2 div.placeBlock img {margin-left: 25%; margin-top: -6%; }
        .display2 div.carcaseBlock img {margin-left: 33%; margin-top: -13%; }
        .display2 div.glassBlock img{ left: 38%; top: 36%;         }

}
@media all and (max-width:1025px) and (min-width: 1023px){
        .display1{ background-size: contain;}
        .display2{ background-size: 100%;}
        .red-button { max-height: 75px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 3em; }
        .close-img {right: 17%;}
        .display2 div.glassBlock img { top: 37%;}
}
@media all and (max-width:1367px) and (min-width: 1281px){
        .display1{ background-size: 100%;}
        .display2{ background-size: 100%;}
        .red-button { max-height: 100px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 4em; }
}
@media all and (min-width:1368px){
        .display1{ background-size: 100%;}
        .display2{ background-size: 100%;}
        .red-button { width: 120px; }
        .text-engine, .text-carcase, .text-glass, .text-salon, .text-wheel{ font-size: 4em; }
}
@media all and (max-width:1441px) and (min-width: 1439px){
        .display1{ background-size: 100%;}
        .display2{ background-size: 100%;}
}

#modal_form {
    width: 400px;
    height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%;
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}
.social-modal ul li a  img{
    width: 30px;
}
.social-modal ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 25px;
}
.social-modal ul li{
    margin-right: 5px;
}

.phone-modal{
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    padding-top: 50px;
}
.address-modal{
    display: flex;
    justify-content: center;
    font-size: 1em;
    text-align: center;
    padding: 5px 0px;
}
.email-modal{
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding-top: 15px;
}
.email-modal img{
    width: 25px;
    padding-right: 5px;
}
.email-modal a{
    text-decoration: none;
    color: black;
}

ul.list-main li ul{
    position: absolute;
    left: -9999px;
    width: 150px;
    font-size: 12px;
    background: white;
    opacity: 0;
    border-left: 7px solid red;
    padding: 10px 20px;
}
ul.list-main li ul li a{
        padding-bottom: 0px;
}
ul.list-main li ul li{
        display: block;
}
ul.list-main li.item-1:hover   ul.carcase-menu-left{
    opacity: 0.7;
    left:100%;
    top: 95px;
            display: block;
}
ul.list-main li.item-2:hover  ul.salon-menu-left{
    opacity: 0.7;
    left:100%;
    top: 190px;
                display: block;
}
ul.list-main li.item-3:hover ul.glass-menu-left{
    opacity: 0.7;
    left:100%;
    top: 270px;
                display: block;
}
.form-main{
    top: 25%;
    left: 20%;
    position: absolute;
}
.form-main input[type="text"]{
    border: 1px solid white;
    border-radius: 10px;
    height: 30px;
    background-color: transparent;
    display: block;
    margin-top: 5px;
    color: white;
    text-align: center;
    width: 250px;
}
.form-main button[type="submit"]{
    width: 100%;
    height: 35px;
    background-color: #4c9432;
    border: none;
    color: white;
    display: block;
    margin-top: 10px;
    margin-left: 10%;
    margin: auto;
    border-radius: 0px;
    cursor: pointer;
}
@media all and (max-width:480px){
    .form-main{ left: 22%;}
}
@media all and (min-width: 800px) and (max-width: 800px){
    .form-main{ left: 22%;}
}

ul.list-main li.item-1:hover{ background-image: url(../image/menu/carcase-hover.svg);}
ul.list-main li.item-2:hover{ background-image: url(../image/menu/place-hover.svg);}
ul.list-main li.item-3:hover{background-image: url(../image/menu/glass-hover.svg);}
ul.list-main li.item-4:hover{ background-image: url(../image/menu/wheel-hover.svg);}
ul.list-main li.item-5:hover{ background-image: url(../image/menu/engine-hover.svg);}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form form{
    position: relative;
}

.form form input[type="text"]{
    border-radius: 10px;
    height: 30px;
    display: block;
    text-align: center;
    position: absolute;
    right: 0;
    top: 30px;
}

.form form input[type="submit"]{
        height: 35px;
    background-color: #d11f22;
    border: none;
    color: white;
    display: block;
    border-radius: 0px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 30px;
    padding: 0 10px 0 10px;
}
